@import "src/styles/variables.scss";

.layout {
  height: 100%;
 
  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #aeaeae;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &-content {
    margin: 0 auto;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    max-width: $desktop-width;
    min-height: 100%;
  }
}
